body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* === Colors === */
  --bright-yellow: #FAE909;
  --main-red: #FA0909;
  --mustard: #FFC700;
  --acid-lim: #2CB32A;
  --bubblegum: #FF709B;
  --blue-blue: #008DFF;

  /* === AppHeight === */
  --app-height: 100%;
}

.about-wrapper {
  background-size: cover;
  background-repeat: none;
  height: var(--app-height);
  overflow: scroll;
}

.about-wrapper h1, p{
  color: var(--bright-yellow);
  width: 40%;
}